@import url("./global.css");

body {
  background-image: url("../images/background-movies-series.png");
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  position: relative;
}

.login-form {
  background-color: var(--form-bg-color);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 2.5rem;
  max-width: 850px;
  margin: 0 auto;
}

.login-form h1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 1.5rem;
  font-size: 1.25rem;
}

.login-form input {
  padding: 1rem;
  width: 100%;
  border-radius: 8px;
  background-color: var(--form-field-bg-color);
  border: var(--form-field-border);
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  color: var(--text-color);
}

.login-form input::placeholder {
  color: var(--form-field-placeholder);
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
}

.login-form input:autofill {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
}

.login-form input:invalid {
  border: 1px solid var(--form-field-error);
}

.login-actions {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}

.login-actions .button {
  border: none;
}

.login-link {
  font-weight: bold;
  color: var(--link-color);
  text-decoration: none;
}

@media screen and (min-width: 480px) {
  .login-form p {
    align-self: flex-start;
  }

  .login-actions {
    flex-direction: row;
    align-self: flex-start;
  }
}
